[submodule "vagrant/coreos"]
	path = vagrant/coreos
	url = https://github.com/coreos/coreos-vagrant
[submodule "roles/ximenpo.coreos-copy"]
	path = roles/ximenpo.coreos-copy
	url = https://github.com/ximenpo/ansible-role-coreos-copy.git
[submodule "roles/ximenpo.coreos-toolboxrc"]
	path = roles/ximenpo.coreos-toolboxrc
	url = https://github.com/ximenpo/ansible-role-coreos-toolboxrc.git
[submodule "roles/ximenpo.coreos-pypy"]
	path = roles/ximenpo.coreos-pypy
	url = https://github.com/ximenpo/ansible-role-coreos-pypy.git
[submodule "roles/ximenpo.coreos-cloudinit"]
	path = roles/ximenpo.coreos-cloudinit
	url = https://github.com/ximenpo/ansible-role-coreos-cloudinit.git
